<div class="form-group searcher-group">
    <label>{{ label }}</label>
    <input 
        type="text" 
        class="form-control" 
        [(ngModel)]="name" 
        (click)="onInputTextedClicked()" 
        (input)="onInputChange()"
        [ngModelOptions]="{standalone: true}"
    >
    <div style="display: relative" *ngIf="showOptions">
        <div class="option-holder">
            <div class="brand-option element-item" [ngClass]="'element-item-' + styleService.style" *ngFor="let brand of entries" (click)="onBrandSelected(brand)">
                <div class="brand-img-holder">
                    <img [src]="brand.imgData || '/assets/icons/none.png'">
                </div>
                <div class="brand-name-holder">
                    <h5 class="brand-name">{{ brand.brandInfo.name }}</h5>
                    <p>{{ getBrandType(brand.brandInfo) }}</p>
                </div>
            </div>
        </div>
    </div>
    

</div>