<app-top-bar (dataEmitter)="prepData()"></app-top-bar>
<div class="container">
    <form class="form element-container" [ngClass]="'element-container-' + styleService.style">
        <div class="form-group">
            <select class="form-select" *ngIf="isAuthenticated" [(ngModel)]="mode" name="factcheckMode">
                <option value="query">Query</option>
                <option value="owned">Your Factchecks</option>
                <option value="submitted">Submitted Factchecks</option>
                <option value="appealed">Appealed Factchecks</option>
            </select>
        </div>

        <div *ngIf="mode == 'query'" class="form-group">
            <label class="form-label">Query</label>
            <input class="form-control" [(ngModel)]="query" name="factcheckQuery">
        </div>

        <button class="btn btn-primary" (click)="performSearch()">Search</button>
    </form>

    <div *ngIf="currentFactcheckList.length" class="search-container">
        <p>Showing {{ (pageSize * currentPage) + 1}} - {{ pageSize * (currentPage + 1) }} Factchecks</p>
        <table class="table table-striped table-hover">
            <thead class="tc-header-row">
                <th>Submitter</th>
                <th>Title</th>
                <th>Tags</th>
                <th>Status</th>
            </thead>
            <tbody>
                <tr *ngFor="let f of currentFactcheckList">
                    <td>{{ f.authorDisplayName }}</td>
                    <td>{{ f.name }}</td>
                    <td>{{ f.tags }} </td>
                    <td>{{ f.status }}</td>
                </tr>
            </tbody>
        </table>
        <div style="display: flex;gap: 5px;">
            <!--ToDo: Create stylized buttons-->
            <button class="arrow-button" [disabled]="currentPage <= 0" (click)="onSwitchPage(false)">
                <img src="assets/icons/botton-Arrow-B.png" width="90%" height="90%"/>
                Previous
            </button>
            <p>Page {{ currentPage + 1 }}</p>
            <button class="arrow-button" [disabled]="currentPage >= factcheckContainer.length - 1 && !hasMore()" (click)="onSwitchPage(true)">
                Next
                <img src="assets/icons/botton-Arrow-B.png" width="90%" height="90%" style="transform: rotate(180deg);"/>
            </button>
        </div>
    </div>


</div>