<app-top-bar></app-top-bar>

@if (newFalsehood) {
  <div class="container">
    <form class="form element-container" [ngClass]="'element-container-' + styleService.style">
      <div class="form-group element-item" [ngClass]="'element-item-' + styleService.style">
        <label class="form-label">Title</label>
        <input class="form-control" [(ngModel)]="newFalsehood.title" name="title">
      </div>
      <div class="form-group element-item" [ngClass]="'element-item-' + styleService.style">
        <label class="form-label">Severity</label>
        <select class="form-select" [(ngModel)]="newFalsehood.severity" name="severity">
          <option [value]="severityObjective">Objective</option>
          <option [value]="severityOppWithheld">Opposing Evidence Withheld</option>
          <option [value]="severitySuppWithheld">Supporting Evidence Withheld</option>
          <option [value]="severitySubjective">Double Stadard</option>
          <option [value]="severityLogic">Faulty Logic</option>
          <option [value]="severityNarrative">Misleading Narrative</option>
          <option [value]="severitySlogan">Misleading Title/Slogan</option>
        </select>
      </div>
      <div class="form-group element-item" [ngClass]="'element-item-' + styleService.style">
        <label class="form-label">Public Figure@if (!publicFigure) {
          <span>: Not Selected</span>
        }</label>
        @if (publicFigure) {
          <div class="brand-option" >
            <div class="brand-img-holder">
              <img [src]="publicFigure.imgData || '/assets/icons/none.png'">
            </div>
            <div class="brand-name-holder">
              <h5 class="brand-name">{{ publicFigure.brandInfo.name }}</h5>
            </div>
            <div (click)="publicFigure = (undefined)">
              (X) <!-- ToDo: Style this -->
            </div>
          </div>
        }
        <app-brand-searcher
          (brandInfoSelected)="publicFigure = $event"
          [type]="typePublicFigure"
        ></app-brand-searcher>
      </div>
      <div class="form-group element-item" [ngClass]="'element-item-' + styleService.style">
        <label class="form-label">Media Outlet@if (!mediaOutlet) {
          <span>: Not Selected</span>
        }</label>
        @if (mediaOutlet) {
          <div class="brand-option" >
            <div class="brand-img-holder">
              <img [src]="mediaOutlet.imgData || '/assets/icons/none.png'">
            </div>
            <div class="brand-name-holder">
              <h5 class="brand-name">{{ mediaOutlet.brandInfo.name }}</h5>
            </div>
            <div (click)="mediaOutlet = (undefined)">
              (X) <!-- ToDo: Style this -->
            </div>
          </div>
        }
        <app-brand-searcher
          (brandInfoSelected)="mediaOutlet = $event"
          [type]="typeMediaOutlet"
        ></app-brand-searcher>
      </div>
      <div class="form-group element-item" [ngClass]="'element-item-' + styleService.style">
        <label class="form-label">Institution@if (!institution) {
          <span>: Not Selected</span>
        }</label>
        @if (institution) {
          <div class="brand-option" >
            <div class="brand-img-holder">
              <img [src]="institution.imgData || '/assets/icons/none.png'">
            </div>
            <div class="brand-name-holder">
              <h5 class="brand-name">{{ institution.brandInfo.name }}</h5>
            </div>
            <div (click)="institution = (undefined)">
              (X) <!-- ToDo: Style this -->
            </div>
          </div>
        }
        <app-brand-searcher
          (brandInfoSelected)="institution = $event"
          [type]="typeInstitution"
        ></app-brand-searcher>
      </div>
      <div class="form-group element-item" [ngClass]="'element-item-' + styleService.style">
        <label class="form-label">Date Made</label>
        <input class="form-control" type="date" [(ngModel)]="newFalsehood.dateMade" name="dateMade">
        <button type="button" class="btn btn-danger" [disabled]="!newFalsehood.dateMade" (click)="newFalsehood.dateMade = undefined">Remove Date</button>
        @if (newFalsehood.severity != severitySlogan) {
          <p>The severity is not set to Title/Slogan - a date must be provided</p>
        }
      </div>
      <div class="form-group element-item" [ngClass]="'element-item-' + styleService.style">
        <label class="form-label">Tags</label>
        @if (tag.length) {
          <p class="text-danger">The tag {{ tag }} is not present in your article!</p>
        }
        <lib-tag-input #tagComp [(tags)]="newFalsehood.tags"></lib-tag-input>
      </div>
      <div class="form-group element-item" [ngClass]="'element-item-' + styleService.style">
        <label class="form-label">Content</label>
        <lib-markdown-editor #fcMdEditor [(content)]="newFalsehood.content"></lib-markdown-editor>
      </div>
      <div class="form-group element-item" [ngClass]="'element-item-' + styleService.style">
        <label class="form-label">Notes</label>
        <textarea class="form-control" [(ngModel)]="newFalsehood.notes" name="notes"></textarea>
      </div>
      <button type="button" class="btn btn-white" [disabled]="!canSubmit()" (click)="submitFalsehood(false)">Save</button>
      <button type="button" class="btn btn-primary" [disabled]="!canSubmit()" (click)="submitFalsehood(true)">Submit</button>
    </form>
  </div>
}

<div >

</div>

<div class="bottom-bar"></div>
