/* You can add global styles to this file, and also import other style files */

@import '../node_modules/@tc/tc-ngx-general/assets/tc-styles.css';

/* .flex-and-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-and-center-top {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
}

.element-container {
    border: solid black 1px;
    padding: 5px;
    border-radius: 5px;
}

.element-container-default {
    background-color: rgb(209, 209, 209);
}

.element-item-default {
    background-color: white;
    color: black;
}

.element-item-default:hover {
    transition: border 0.5s;
    border: 1px solid #303030; /* Bright blue color */
    /* padding: 10px; */
    /* box-shadow: 0 0 10px #f7f7f7; /* Glowing effect 
} */

.element-item-default:focus {
    border: 3px solid #303030;
} */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Search Table Styles */

.search-container {
    display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.tc-header-row {
    border: solid;
}

.tc-header-row th {
    padding: 0.75%
}

.arrow-button {
    border: aqua 2px solid;
    background-color: white;
    display: flex;
    height: 30px;
    gap:3px;

}

.arrow-button:disabled {
    border-color:#999999;
    background-color: #999999;
}